<!DOCTYPE html>
<html lang="en" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/practice/aboutBox.css">
</head>
<body>
    <h1>박스꾸미기 일명 박.꾸</h1>
    <div id="section">
        <div id = "header">
            <h1><a href="/css/aboutBox">아림이의 Css 꾸미기 공간</a></h1>
        </div>
        <div id = "sidebar">
            <h2>Side bar</h2>
            <ul>
                <li><a href="/css/imageInBox">박스 안 이미지</a></li>
                <li><a href="/css/imageInBox">박스 안 이미지</a></li>
            </ul>
        </div>
        <div id = "contents">
            <h2>Main</h2>
            <p> 블로그처럼 섹션을 나누었습니다 </p>
            <p> 여기는 Box 관련 연습하기 </p>
        </div>
        <div id ="banner">
            <h1> Fighting </h1>
        </div>
    </div>

</body>
</html>