
h2 {
    text-align: center;
    width: 550px;
    color : indigo;
    font-size : 30px;
    margin: 60px;
    padding: 15px;
    background-color: khaki;
}
th, td {
    padding : 15px;
}
table {
    margin-top: 10px;
}
form {
    margin-bottom: 20px;
}
a:hover {
    color: crimson;
    font-weight: bold;
}